{
    "plugins": [
      "add-module-exports",
      "transform-flow-strip-types",
      "transform-object-rest-spread",
      ["transform-class-properties", { "spec": true }]
    ],
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
        },
        "useBuiltIns" : true
      }],
      "react"
  ]
}
